In [4]:
print("welcome")
"p4n.in"
'codeswithpankaj.com'

welcome

'codeswithpankaj.com'

In [5]:
print(' "welcome p4n" ')
print(" 'welcome cwp' ")

 "welcome p4n"
 'welcome cwp'

In [6]:
# print number
print(7890)

7890

In [7]:
print("my number is",8080411568)

my number is 8080411568

In [10]:
# data type
a=10
print(type(a))
a=1.0
print(type(a))
a = "p4n.in"
print(type(a))
a = 10,
print(type(a))
a = 10
print(type(a))
a = (10)
print(type(a))
a = (10,)
print(type(a))
a = 10,44,33,22,11,11
print(type(a))
a = (10,44,33,22,11,11)
print(type(a))
a = [10,44,33,22,11,11]
print(type(a))
a = {10,44,33,22,11,11}
print(type(a))
a = {'website':'p4n.in','course':'python'}
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'tuple'>
<class 'int'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'dict'>

In [12]:
# variable print
name = "shoeb"
age = 23
height = 5.6

print('my name is : ', name)
print('my age is : ',age)
print('my height is : ', height)

my name is :  shoeb
my age is :  23
my height is :  5.6

In [13]:
# other example 

number1 = 100
number2 = 200

result = number1 + number2
print('result is ',result)

result is  300