In [2]:
#18 mar 25
# print()
print("welcome to codeswithpankaj.com")

welcome to codeswithpankaj.com

In [4]:
print('welcome to blog cwpc.in')

welcome to blog cwpc.in

In [6]:
print("'cwpc.in'")
print('"codeswithpankaj.com"')

'cwpc.in'
"codeswithpankaj.com"

In [8]:
# variable
number = 10
print('this is number ',number)

this is number  10

In [10]:
name = "Nishant"
age = 23
height = 4.5

print("My name is  ",name)
print("My age is  ",age)
print("height is ",height)

My name is   Nishant
My age is   23
height is  4.5

In [12]:
# int()
# float()
# str()

name = str(input('Enter Your Name '))
age = int(input('Enter Your Age '))
height = float(input('Enter Your height '))

print("My name is  ",name)
print("My age is  ",age)
print("height is ",height)

Enter Your Name  shoeb
Enter Your Age  23
Enter Your height  5.5

My name is   shoeb
My age is   23
height is  5.5

In [16]:
# 20 mar 25
#Arithmetic Operators
x = 158
y = 23

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x // y)
print(x % y)
print(x ** 2)

181
135
3634
6.869565217391305
6
20
24964

In [18]:
#Comparison Operators
print(23 < 34)
print(23 > 34)
print(23 == 34)
print(23 != 34)
print(23 <= 34)
print(23 >= 34)

True
False
False
True
True
False

In [20]:
#Logical Operators
# and
print(23 == 67 and 78 < 100) 
# or 
print(23 == 67 or 78 < 100) 
# not 
print( not 34 == 34)

False
True
False

In [22]:
#Assignment Operators
a = 10 
print(a)

# a = a + 10
a += 10
print(a)
a -= 10
print(a)
a *= 10
print(a)
a /= 10
print(a)

10
20
10
100
10.0

In [24]:
#Identity Operators
#is 
a = 10
b = 20
print(a is b)
# is not
print(a is not b)

False
True

In [26]:
#Membership Operators
web = "codeswithpankaj.com"
print('c' in web)
print('c' not in web)

True
False

In [28]:
# if else

a = 10 
b = 78

# find the smallest values 

if a < b :
    print("a is smallest")
else:
    print("a is not smallest ...")

a is smallest

In [32]:
a = 100
b = 20
c = 30

if a < b and a < c:
    print(' a is smallest ...')
elif b < a and b < c:
    print(" b is smallest ...")
else:
    print(' c is smallest ...')

 b is smallest ...

In [1]:
#22 mar 25
web="codeswithpankaj"
for i in web:
    print(i)

c
o
d
e
s
w
i
t
h
p
a
n
k
a
j

In [3]:
## range(EndValue) # start 0
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
## range(start,end)
for i in range(10,22):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21

In [9]:
# range(start,end,steps)
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [11]:
# take user input
start = int(input('enter start number '))
end = int(input('enter end number '))
for i in range(start,end+1):
    print(i)

enter start number  11
enter end number  30

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [15]:
#end=' '
for i in range(1,20):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [17]:
# while loop 

# start point
# end point
# output
# +/-
i=1
while(i<=10):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [19]:
# function basic 

# def functionName():
    # output

def info():
    print("welcome to codes with pankaj")
    print("cwpc.in")

# call the function
info()
info()

welcome to codes with pankaj
cwpc.in
welcome to codes with pankaj
cwpc.in

In [21]:
# with arg

def add(num1,num2):
    print(num1+num2)

add(1200,67)

1267

In [23]:
# return type

def get_number():
    return 900

print("this is number : ",get_number())

this is number :  900

In [25]:
# return type and with arg

def get_result(total,per):
    f_total = total*per/100
    f_total = total+ f_total
    return f_total
final = get_result(1200,18)

m_final = 345 + final
print(' this is main result ',final)

 this is main result  1416.0