In [2]:
#18 mar 25
# print()
print("welcome to codeswithpankaj.com")

welcome to codeswithpankaj.com

In [4]:
print('welcome to blog cwpc.in')

welcome to blog cwpc.in

In [6]:
print("'cwpc.in'")
print('"codeswithpankaj.com"')

'cwpc.in'
"codeswithpankaj.com"

In [8]:
# variable
number = 10
print('this is number ',number)

this is number  10

In [10]:
name = "Nishant"
age = 23
height = 4.5

print("My name is  ",name)
print("My age is  ",age)
print("height is ",height)

My name is   Nishant
My age is   23
height is  4.5

In [12]:
# int()
# float()
# str()

name = str(input('Enter Your Name '))
age = int(input('Enter Your Age '))
height = float(input('Enter Your height '))

print("My name is  ",name)
print("My age is  ",age)
print("height is ",height)

Enter Your Name  shoeb
Enter Your Age  23
Enter Your height  5.5

My name is   shoeb
My age is   23
height is  5.5

In [16]:
# 20 mar 25
#Arithmetic Operators
x = 158
y = 23

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x // y)
print(x % y)
print(x ** 2)

181
135
3634
6.869565217391305
6
20
24964

In [18]:
#Comparison Operators
print(23 < 34)
print(23 > 34)
print(23 == 34)
print(23 != 34)
print(23 <= 34)
print(23 >= 34)

True
False
False
True
True
False

In [20]:
#Logical Operators
# and
print(23 == 67 and 78 < 100) 
# or 
print(23 == 67 or 78 < 100) 
# not 
print( not 34 == 34)

False
True
False

In [22]:
#Assignment Operators
a = 10 
print(a)

# a = a + 10
a += 10
print(a)
a -= 10
print(a)
a *= 10
print(a)
a /= 10
print(a)

10
20
10
100
10.0

In [24]:
#Identity Operators
#is 
a = 10
b = 20
print(a is b)
# is not
print(a is not b)

False
True

In [26]:
#Membership Operators
web = "codeswithpankaj.com"
print('c' in web)
print('c' not in web)

True
False

In [28]:
# if else

a = 10 
b = 78

# find the smallest values 

if a < b :
    print("a is smallest")
else:
    print("a is not smallest ...")

a is smallest

In [32]:
a = 100
b = 20
c = 30

if a < b and a < c:
    print(' a is smallest ...')
elif b < a and b < c:
    print(" b is smallest ...")
else:
    print(' c is smallest ...')

 b is smallest ...

In [1]:
#22 mar 25
web="codeswithpankaj"
for i in web:
    print(i)

c
o
d
e
s
w
i
t
h
p
a
n
k
a
j

In [3]:
## range(EndValue) # start 0
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
## range(start,end)
for i in range(10,22):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21

In [9]:
# range(start,end,steps)
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [11]:
# take user input
start = int(input('enter start number '))
end = int(input('enter end number '))
for i in range(start,end+1):
    print(i)

enter start number  11
enter end number  30

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [15]:
#end=' '
for i in range(1,20):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [17]:
# while loop 

# start point
# end point
# output
# +/-
i=1
while(i<=10):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [19]:
# function basic 

# def functionName():
    # output

def info():
    print("welcome to codes with pankaj")
    print("cwpc.in")

# call the function
info()
info()

welcome to codes with pankaj
cwpc.in
welcome to codes with pankaj
cwpc.in

In [21]:
# with arg

def add(num1,num2):
    print(num1+num2)

add(1200,67)

1267

In [23]:
# return type

def get_number():
    return 900

print("this is number : ",get_number())

this is number :  900

In [25]:
# return type and with arg

def get_result(total,per):
    f_total = total*per/100
    f_total = total+ f_total
    return f_total
final = get_result(1200,18)

m_final = 345 + final
print(' this is main result ',final)

 this is main result  1416.0

In [1]:
# 25 march 2025
# Date and time in python 
import datetime
now= datetime.datetime.now()
print(now)

2025-03-27 08:25:07.967579

In [13]:
# get only month 
print(now.month)

# get only day
print(now.day)

# get only year
print(now.year)

# get only hour
print(now.hour)

# get only minute
print(now.minute)

# get only second
print(now.second)

3
27
2025
8
25
7

In [21]:
# get complete date
print(now.strftime("%y-%m-%d"))

# get complete time
print(now.strftime("%H:%M:%S"))

# get month name in character
print(now.strftime("%B"))

25-03-27
08:25:07
March

In [23]:
# show calendar
import calendar
print(calendar.month(2025,6))

     June 2025
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

In [25]:
# get full year calendar
year=2001
print(calendar.calendar(year))

                                  2001

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                1  2  3  4
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       5  6  7  8  9 10 11
15 16 17 18 19 20 21      12 13 14 15 16 17 18      12 13 14 15 16 17 18
22 23 24 25 26 27 28      19 20 21 22 23 24 25      19 20 21 22 23 24 25
29 30 31                  26 27 28                  26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6                   1  2  3
 2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17
16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24
23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30
30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                      1  2
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       3  4  5  6  7  8  9
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      10 11 12 13 14 15 16
16 17 18 19 20 21 22      20 21 22 23 24 25 26      17 18 19 20 21 22 23
23 24 25 26 27 28 29      27 28 29 30 31            24 25 26 27 28 29 30
30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                      1  2
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       3  4  5  6  7  8  9
15 16 17 18 19 20 21      12 13 14 15 16 17 18      10 11 12 13 14 15 16
22 23 24 25 26 27 28      19 20 21 22 23 24 25      17 18 19 20 21 22 23
29 30 31                  26 27 28 29 30            24 25 26 27 28 29 30
                                                    31

In [34]:
# emoji print   
import emoji
print(emoji.emojize(":thumbs_up:"))

👍

In [38]:
# List in python 
# List is a collection which is ordered and changeable. Allows duplicate members.
# create a empty list
my_list=[]
print(my_list)

# check the type of my_list
print(type(my_list))

[]
<class 'list'>

In [40]:
# init list with values
my_list=[1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [42]:
# mixed data types
my_list=[1,2,3,"hii",25]
print(my_list)

[1, 2, 3, 'hii', 25]

In [60]:
# aeccess list element
#index       0       1        2        3        4        5       6
fruits = ["apple","banana","cherry","orange","kiwi","melon","mango"]
#-ve       -7       -6        -5      -4      -3       -2      -1
# print the element at index 0
print(fruits[0])
print(fruits[-5])
print(fruits[2])

apple
cherry
cherry

In [66]:
#slice list
# get the elements from index 1 to 4 (not included)
print(fruits[1:4])
print(fruits[-5:-2])
print(fruits[:5])
print(fruits[4:])
print(fruits[:])
print(fruits)

['banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange', 'kiwi']
['kiwi', 'melon', 'mango']
['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [68]:
# change the value of an element
fruits[0] = "avocado"
print(fruits)

['avocado', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [70]:
# insert element at specific index
fruits.insert(2, "blueberry")
print(fruits)

['avocado', 'banana', 'blueberry', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [72]:
# append element at the end of the list
fruits.append("strawberry")
print(fruits)

['avocado', 'banana', 'blueberry', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'strawberry']

In [74]:
# remove element
fruits.remove("banana")
print(fruits)

['avocado', 'blueberry', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'strawberry']

In [86]:
# remove element at specific index
fruits.pop(3)

'orange'

In [88]:
print(fruits)

['avocado', 'blueberry', 'cherry', 'kiwi']

In [90]:
# extend list
new_fruits = ["grapes", "watermelon"]
fruits.extend(new_fruits)
print(fruits)

['avocado', 'blueberry', 'cherry', 'kiwi', 'grapes', 'watermelon']

In [92]:
# pop element from the end of the list
fruits.pop()
print(fruits)

['avocado', 'blueberry', 'cherry', 'kiwi', 'grapes']

In [94]:
# intreting list
for i in fruits:
    print(i)

avocado
blueberry
cherry
kiwi
grapes

In [96]:
# check if an element is in the list

print("apple" in fruits) 

print("kiwi" in fruits)

False
True

In [108]:
# how to take user input into list 

# define size and list 

size = int(input("Enter the size of the list: "))
food = []

# take input from user
for i in range(size):
    f = input("Enter the food: ")
    food.append(f)
    
    

for i in food:
    print(i)

Enter the size of the list:  5
Enter the food:  chicken
Enter the food:  samosa
Enter the food:  biryani
Enter the food:  cutlets
Enter the food:  pav

chicken
samosa
biryani
cutlets
pav

In [110]:
# 27 march 2025
# EXAMPLE : 
data = {'name': 'joy', 'age': 25, 'city': 'Dhaka'}
print(data)

{'name': 'joy', 'age': 25, 'city': 'Dhaka'}

In [112]:
# access the items of a dictionary
print(data['name'])

joy

In [116]:
# get all keys of a dictionary
print(data.keys())

dict_keys(['name', 'age', 'city'])

In [118]:
# get all values of a dictionary
print(data.values())

dict_values(['joy', 25, 'Dhaka'])

In [120]:
# get data from keys 
print(data.get('name'))

joy

In [122]:
# get all data from using items() method
print(data.items())

dict_items([('name', 'joy'), ('age', 25), ('city', 'Dhaka')])

In [124]:
# update values of a dictionary
data['age'] = 30
print(data)

{'name': 'joy', 'age': 30, 'city': 'Dhaka'}

In [126]:
# add new key-value pair in a dictionary

data['country'] = 'Bangladesh'
print(data)

{'name': 'joy', 'age': 30, 'city': 'Dhaka', 'country': 'Bangladesh'}

In [128]:
# delete a key-value pair from a dictionary
del data['city']
print(data)

{'name': 'joy', 'age': 30, 'country': 'Bangladesh'}

In [130]:
# iterate through a dictionary
# fetch data from loop
for i in data:
    print(i,'=', data[i])

name = joy
age = 30
country = Bangladesh

In [132]:
# fetch data from items() method
for key, value in data.items():
    print(key, '=', value)

name = joy
age = 30
country = Bangladesh

In [134]:
# check if a key exists in a dictionary

print('name' in data)
print('city' in data)

True
False

In [136]:
# format using in String

name = 'joy'
age = 25
height = 5.6

print('my name is : ',name)
print('my age is : ',age)
print('my height is : ',height)

my name is :  joy
my age is :  25
my height is :  5.6

In [140]:
print('my name is ',name,'age is ',age,'height is ',height)
print('My name {0} , height  {2} and age {1}'.format(name, age, height))
print(f'My name is {name}, age is {age} and height is {height}')

my name is  joy age is  25 height is  5.6
My name joy , height  5.6 and age 25
My name is joy, age is 25 and height is 5.6

In [142]:
for key, value in data.items():
    print(f'{key} = {value}')

name = joy
age = 30
country = Bangladesh

In [144]:
# how to take user input and store in a dictionary

# step 1 : create a dictionary
# step 2 : take user input
# step 3 : store the input in the dictionary
# step 4 : print the dictionary
data = {}

name = input('Enter your name : ')
age = input('Enter your age : ')
city = input('Enter your city : ')

data['name'] = name
data['age'] = age
data['city'] = city

print(data)

Enter your name :  sahil
Enter your age :  25
Enter your city :  borivali

{'name': 'sahil', 'age': '25', 'city': 'borivali'}