In [2]:
#18 mar 25
# print()
print("welcome to codeswithpankaj.com")

welcome to codeswithpankaj.com

In [4]:
print('welcome to blog cwpc.in')

welcome to blog cwpc.in

In [6]:
print("'cwpc.in'")
print('"codeswithpankaj.com"')

'cwpc.in'
"codeswithpankaj.com"

In [8]:
# variable
number = 10
print('this is number ',number)

this is number  10

In [10]:
name = "Nishant"
age = 23
height = 4.5

print("My name is  ",name)
print("My age is  ",age)
print("height is ",height)

My name is   Nishant
My age is   23
height is  4.5

In [12]:
# int()
# float()
# str()

name = str(input('Enter Your Name '))
age = int(input('Enter Your Age '))
height = float(input('Enter Your height '))

print("My name is  ",name)
print("My age is  ",age)
print("height is ",height)

Enter Your Name  shoeb
Enter Your Age  23
Enter Your height  5.5

My name is   shoeb
My age is   23
height is  5.5

In [16]:
# 20 mar 25
#Arithmetic Operators
x = 158
y = 23

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x // y)
print(x % y)
print(x ** 2)

181
135
3634
6.869565217391305
6
20
24964

In [18]:
#Comparison Operators
print(23 < 34)
print(23 > 34)
print(23 == 34)
print(23 != 34)
print(23 <= 34)
print(23 >= 34)

True
False
False
True
True
False

In [20]:
#Logical Operators
# and
print(23 == 67 and 78 < 100) 
# or 
print(23 == 67 or 78 < 100) 
# not 
print( not 34 == 34)

False
True
False

In [22]:
#Assignment Operators
a = 10 
print(a)

# a = a + 10
a += 10
print(a)
a -= 10
print(a)
a *= 10
print(a)
a /= 10
print(a)

10
20
10
100
10.0

In [24]:
#Identity Operators
#is 
a = 10
b = 20
print(a is b)
# is not
print(a is not b)

False
True

In [26]:
#Membership Operators
web = "codeswithpankaj.com"
print('c' in web)
print('c' not in web)

True
False

In [28]:
# if else

a = 10 
b = 78

# find the smallest values 

if a < b :
    print("a is smallest")
else:
    print("a is not smallest ...")

a is smallest

In [32]:
a = 100
b = 20
c = 30

if a < b and a < c:
    print(' a is smallest ...')
elif b < a and b < c:
    print(" b is smallest ...")
else:
    print(' c is smallest ...')

 b is smallest ...